/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.fullWidth {
//    width: 90%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
span:focus,canvas:focus{
    outline: none;
}    
.container-fluid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
} 
.container-vertical {
    margin: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
} 
.container-vertical div {
    padding: 4px;
    background-color: beige;
}
.speccy-holder {
    height:240px;
}
.speccy {
    flex: 1;
    width:272px;
    height:208px;
}
.flags {
    font-size: 0.7em;
}
.t-states {
    font-size: 0.7em;    
}
.interrupts{
    font-size: 0.7em;
}
.prev-next{
    font-size: 0.7em;
}
.registers{
    font-size: 0.7em;
}
.disassembly-preview{
    width: 350px;
    font-size: 0.7em;
}
.memory-block {
    font-size:0.7em;
}
table tr th, table tr td {
    font-size: 1.0em;
    padding: 5px;
}